:root {
  --orange: #d8ae47;
  --black: #222;
  --white: #FFF;
  --lgrey: #DDD;
  --color-bg:var(--white);
  --color-accent: var(--orange);
  --color-text: #000;
  --color-link: var(--orange);
  --color-link-hover: var(--lgrey);
  --color-text-accent: var(--black);
  --color-text-accent-hover: var(--white);
  --width-content: 1080px;
  --border-radius: 5px;
  --padding: 10px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--black);
    --color-text: var(--white);
  }
}

@font-face {
  font-family: 'Press Start 2P';
  font-weight: 400;
  font-style: normal;
  src: local("Press Start 2P"), local("Press-Start-2P-regular"), url("../../font/Press-Start-2P-regular.eot") format("eot"), url("../../font/Press-Start-2P-regular.woff2") format("woff2"), url("../../font/Press-Start-2P-regular.woff") format("woff"), url("../../font/Press-Start-2P-regular.ttf") format("truetype"), url("../../font/Press-Start-2P-regular.svg") format("svg");
}
html {
  background-color: var(--color-bg);
  color: var(--color-text);
  font: 1em/1.25em "Source Sans Pro", Helvetica, sans-serif;
}
html a {
  color: var(--color-link);
  text-decoration: none;
}
html a:hover {
  color: var(--color-link-hover);
}

body > header {
  background-color: var(--color-accent);
  border-bottom: 3px solid #fff;
}
body > header a {
  color: var(--color-text-accent);
}
body > header a:hover {
  color: var(--color-text-accent-hover);
}
body > header nav,
body > header h1 {
  max-width: var(--width-content);
  margin: 0 auto;
}
body > header h1 {
  display: none;
  font: 2em 'Press Start 2P';
  text-align: center;
  padding: 10px 0 0 0;
}
body > header h1:before {
  content: '{';
  font-size: 1.5em;
  vertical-align: sub;
  margin-right: -30px;
}
body > header h1:after {
  content: '}';
  font-size: 1.5em;
  vertical-align: sub;
  margin-left: -30px;
}
@media all and (min-width: 720px) {
  body > header h1 {
    display: block;
  }
}
body > header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: var(--color-accent);
}
body > header nav > a {
  font-size: 1.2em;
  display: block;
  font-family: 'Press Start 2P';
  padding: var(--padding);
}
body > header nav > a span {
  float: right;
}
body > header nav > ul {
  padding: var(--padding);
  display: none;
}
body > header nav > ul.open {
  display: block;
}
body > header nav > ul > li.open > ul {
  display: block;
}
body > header nav > ul > li > ul {
  display: none;
}
body > header nav > ul > li > ul > li > a {
  padding-left: 20px;
}
body > header nav > ul > li > ul > li > ul > li > a {
  padding-left: 40px;
}
@media all and (min-width: 720px) {
  body > header nav > a {
    display: none;
  }
  body > header nav > ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
  }
  body > header nav > ul > li > a {
    font-size: 1.5em;
  }
  body > header nav > ul > li > ul {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    flex-wrap: wrap;
    border: 3px solid #fff;
    margin-top: calc(var(--padding) * 2);
    padding: 0 var(--padding) var(--padding) var(--padding);
  }
  body > header nav > ul > li > ul > li {
    width: 33%;
    margin-top: var(--padding);
  }
  body > header nav > ul > li > ul > li > a {
    font-size: 1.3em;
    padding-left: var(--padding);
  }
  body > header nav > ul > li > ul > li > ul {
    padding-top: calc(var(--padding)/2);
  }
  body > header nav > ul > li > ul > li > ul > li > a {
    padding-left: calc(var(--padding) * 2);
  }
  body > header nav > ul > li.open > ul {
    display: flex;
  }
}

body > main {
  max-width: var(--width-content);
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
