@import "_variables.scss";

article {
	margin-top: 3em;
	&.category , &.tag {
		h1 {
			text-align: center;
		}
	}

	h1 , h2 , h3 , h4 , h5 , h6 {
		font-family: $font-alternate;
		color: $theme-color;
	}

	h1 {
		line-height: 1.2em;
		font-size: 1.4em;
		@media (min-width: $min-sm) {
			font-size: 2em;
		}
	}

	h2 {
		font-size: 1.2em;
		@media (min-width: $min-sm) {
			font-size: 1.5em;
		}
	}

	h3 {
		font-size: 1em;
		@media (min-width: $min-sm) {
			font-size: 1.17em;
		}
	}

	section {
		p {
			text-align: justify;
		}

		ul {
			padding: 0 0 0 2em;
			li {
				list-style: none;
				&:before {
					padding: 0 1em .2em 0em;
					content: "\f111";
					font-family: FontAwesome;
					font-size: 0.5em;
					color: $theme-color;
					vertical-align: bottom;
				}
			}
		}

		img {
			margin: 0 auto;
			max-width: 90%;
			display: block;
		}

		blockquote {
			border-left: double 3px $theme-color;
			margin: 0 15px;
			padding: 0 0 0 15px;
			font-style: italic;
		}

		div.pub {
			text-align: center;
			iframe {
				display: inline-block;
			}
		}
	}

	header {
		img {
			margin: 0 auto;
			border: 1px solid $theme-color;
			border-radius: 3px;
			display: block;
			max-width: 90%;
		}

		.date , .category , .tags {
			padding: 0 3em;
			color: $theme-color;
			@media (max-width: $max-xs) {
				display: block;
			}
		}

		.tags a:not(:last-child)::after {
			content: ", ";
		}
	}

	footer {
		.author {
			@media (min-width: $min-sm) {
				padding-left: 3em;
			}
			font-size: larger;
		}

		a {
			padding: 0 3em;
			@media (max-width: $max-xs) {
				display: block;
			}
		}
	}

	&.short {
		footer:after {
			content: '';
			width: 90%;
			position: relative;
			bottom: -.8em;
			left: 5%;
			border-color: $theme-dark;
			border-bottom-style: dashed;
			border-bottom-width: 1px;
			display: block;
		}
	}
}

