pre {
	border: 1px solid $theme-color;
	border-radius: $border-width;
	padding: .5em 1.5em;
	margin: 0 1em;
	background: $theme-grey;
	color: $theme-black;
	white-space: pre-wrap;
	tab-size: 4;
	
	code.java, code.shell {

		font-size: 1em;
		line-height: 1em;

		.hljs-keyword, .hljs-built_in {
			color: rgb(127, 0, 95);
			font-weight: bold;
		}

		.hljs-comment {
			color: rgb(63, 127, 95);
		}

		.hljs-string {
			color: rgb(42, 0, 255);
		}

		.hljs-meta {
			color: #646464;
		}
	}
	
	code.cpp {
		.hljs-meta {
			color: #0000ff;
			.hljs-keyword {
				color: #af00db;
			}
		}
		.hljs-string {
			color: #a31515;
		}
		.hljs-type {
			color: #0000ff;
		}
		
		.hljs-title, .hljs-built_in {
			color: #795e26;
		}
		.hljs-params, .hljs-keyword {
			color: #af00db;
		}
		.hljs-number {
			color: #098658;
		}
		.hljs-comment {
			color: #6a9955;
		}
	}
	
	code.xml {
		color: #6d9ae3;
		.hljs-literal {
			color: rgb(127, 0, 95);
			font-weight: bold;
		}
	}
}