@import "_variables.scss";

table {
	margin: 8px auto 0;
	thead, tbody {
		border: 1px solid $theme-color;
	}
	td, th {
		padding: 1px 3px;
	}

	&.sort thead {
		cursor: pointer;
	}
	tr.hide {
		display: none;
	}
}

#equivalence {
	td a {
		padding-right: 2px;
	}
}
