@import "_variables.scss";

table {
	margin: 8px auto 0;
	thead, tbody {
		border: 1px solid $theme-color;
	}
	td, th {
		padding: 1px 3px;
	}

	&.sort thead {
		cursor: pointer;
	}
	tr.hide {
		display: none;
	}
}

.paint-db {
	td a {
		padding-right: 2px;
	}
	tr td:nth-child(2n) {
		border-right:  1px solid $theme-color;
	}
	tbody tr:nth-child(2n) {
		background-color: lighten($theme-color, 40%);
	}
//	[data-color]:before {
//		content: ' ';
//		background-color: attr(data-color, color);
//		width: 10px; height: 10px;
//		display: inline-block;
//		border: solid 1px black;
//	}
}
