@import "_variables.scss";

table {
	margin: 8px auto 0;
	color: $theme-black;
	background-color: $theme-grey;
	
	thead, tbody {
		border: 1px solid $theme-color;
	}
	td, th {
		padding: 1px 3px;
	}

	&.sort thead {
		cursor: pointer;
	}
	tr.hide {
		display: none;
	}
	&.boxed td, &.boxed th {
		border: 1px solid $theme-color;
	}
}

.paint-db, .paint-guide {
	min-width: 780px;
	td a {
		padding-right: 2px;
	}
	tr td:nth-child(2n) {
		border-right: 1px solid $theme-color;
	}
	tbody tr:nth-child(2n) {
		background-color: lighten($theme-color, 30%);
	}
	td.color {
		width: 40px;
	}
}

table.assault {
	tbody tr:nth-child(2n) {
		background-color: lighten($theme-color, 30%);
	}
	
	thead tr {
		background-color: lighten($theme-color, 15%);
	}

	
	td:not([colspan="4"]) {
		text-align: center;
	}


}


