$max-xs: 767px;
$min-sm: 768px;
$min-md: 992px;
$min-lg: 1200px;
$min-xlg: 1470px;

$theme-color: #d8ae47;
$theme-grey : #F5F5F5;
$theme-dark : #333;
$text-color: #333;

$theme-border-color : $theme-dark;
$theme-border-width : 5px;

$font: "Source Sans Pro", Helvetica, sans-serif;
$font-alternate: 'Press Start 2P', cursive;