
div.gallery {
	text-align : center;
	a {
		padding : 5px;
	}
	img {
		display : inline-block;
		border: 1px solid var(--border);
		border-radius: var(--standard-border-radius);
		object-fit: cover;
		height: revert-layer;
	}
}

.gallery-view {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
	text-align : center;
	&.fade {
		.content {
			animation-name: fadeAnmimation;
			animation-duration: 0.4s;
		}
	}
	img {
		max-height: 90%;
		max-width: 90%;
		opacity: 1;
	}
}

@keyframes fadeAnmimation {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

