body>footer {

	background-color: var(--color-dark-accent);
	padding: calc(var(--padding)*2) var(--padding) calc(var(--padding)*4) var(--padding);

	&>nav {
		max-width: var(--width-content);
		margin: 0 auto;

		@media all and (min-width: 720px) {
			display: flex;
			gap: calc(var(--padding)*3);
		}


		aside {
			@media all and (min-width: 720px) {
				width: 33%;
			}

			text-align: justify;

			ul {
				list-style-type: none;
				padding: 0 0 0 calc(var(--padding)*2);

				li.closed>ul {
					display: none;
				}

				li.closed>a[href="#"]:before {
					content: "\f196";
					font-family: FontAwesome;
					color: var(--white);
					padding-right: 5px;
				}

				li:not(.closed)>a[href="#"]:before {
					content: "\f147";
					font-family: FontAwesome;
					color: var(--white);
					padding-right: 5px;
				}

			}

			.tag0 {
				font-size: x-small;
			}

			.tag1 {
				font-size: small;
			}

			.tag3 {
				font-size: large;
			}

			.tag4,
			.tag5,
			.tag6,
			.tag7,
			.tag8,
			.tag9 {
				font-size: x-large;
			}
		}
	}

	&>div {
		max-width: var(--width-content);
		margin: calc(var(--padding)*2) auto 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;

		&>span:last-child a {
			color: var(--color-dark-accent);
		}
	}
}