@import "_variables.scss";


@font-face {
	font-family: 'Press Start 2P';
	font-weight: 400;
	font-style: normal;
	src: local('Press Start 2P'), 
		local('Press-Start-2P-regular'), 
		url('../../font/Press-Start-2P-regular.eot') format('eot'), 
		url('../../font/Press-Start-2P-regular.woff2') format('woff2'), 
		url('../../font/Press-Start-2P-regular.woff') format('woff'), 
		url('../../font/Press-Start-2P-regular.ttf') format('truetype'), 
		url('../../font/Press-Start-2P-regular.svg') format('svg');
}

html {
	background-color: var(--color-bg);
	color: var(--color-text);
	font: 1em/1.25em "Source Sans Pro", Helvetica, sans-serif;

	a {
		color: var(--color-link);
		text-decoration: none;
		&:hover {
			color: var(--color-link-hover);
		}
	}

}

body {
	
	&>main {
		max-width: var(--width-content);
		margin: 0 auto;
	}
}

@import "_header.scss";
@import "_article.scss";
@import "_gallery.scss";
@import "_footer.scss";
