<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header class="container">
		<div class="banner">
			<h1>
				<a href="index.html">Shionn::Blog()</a>
			</h1>
			<h2>Pourquoi ? Pourquoi pas ?</h2>
		</div>
		<nav class="main-menu" role="navigation" >
			<a href="#">Shionn::Blog()<span class="fa fa-2 fa-bars"></span></a>
			<ul th:replace="~{menu :: menu}"></ul>
		</nav>
	</header>
</body>
</html>