<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/fa-4.7/font-awesome.css" />
</head>
<body>
	<header class="container">
		<div class="banner">
			<h1>
				<a href="index.html">Shionn::Blog()</a>
			</h1>
			<h2>Pourquoi ? Pourquoi pas ?</h2>
		</div>
		<nav class="main-menu" role="navigation" >
			<a href="#">Shionn::Blog()<span class="fa fa-2 fa-bars"></span></a>
			<ul th:replace="~{menu :: menu}"></ul>
		</nav>
	</header>
	<div class="container">
		<div class="main" th:replace="~{ ${content} :: main}">

		</div>
		<div class="side">
			<div class="tagclood">
				<h1><span class="fa fa-flag"></span> Tags</h1>
				<c:forEach items="${cloodtags}" var="tag">
					<a href="<spring:url value="/tag/${tag.url}"/>">${tag.title}(${tag.postCount})</a>
				</c:forEach>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<span>Blog propulsé par un moteur maison en java.</span>
			<span>
				<a href="mailto:shionn@gmail.com" title="Contact"><i class="fa fa-envelope" aria-hidden="true"></i></a> |
				<a href="https://github.com/shionn" target="_blank" title="Github"><i class="fa fa-github"></i></a> |
				<a href="https://www.thymeleaf.org/" target="_blank" title="Thymeleaf"><i class="fa fa-leaf"></i></a> |
				<a href="http://fontawesome.io/" target="_blank" title="FontAwesome"><i class="fa fa-font-awesome"></i></a> |
				<a href="http://commonmark.org/" target="_blank" title="CommonMark">M<i class="fa fa-long-arrow-down"></i></a>
			</span>
		</div>
	</footer>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
</body>
</html>