<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<ul th:fragment="menu">
		<li th:each="child : ${site.menu.childrens}">
			<a th:href="${child.path}" th:text="${child.name}" th:target="${child.target}"></a>
			<ul th:if="${not #lists.isEmpty(child.childrens)}">
				<li th:each="child : ${child.childrens}">
					<a th:href="${child.path}" th:text="${child.name}" th:target="${child.target}"></a>
					<ul th:if="${not #lists.isEmpty(child.childrens)}">
						<li th:each="child : ${child.childrens}">
							<a th:href="${child.path}" th:text="${child.name}" th:target="${child.target}"></a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</body>
</html>
