<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<base th:href="${site.base}">
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/fa-4.7/font-awesome.css" />
</head>
<body>
	<header class="container">
		<div class="banner">
			<h1>
				<a href="index.html">Shionn::Blog()</a>
			</h1>
			<h2>Pourquoi ? Pourquoi pas ?</h2>
		</div>
		<nav class="main-menu" role="navigation" >
			<a href="#">Shionn::Blog()<span class="fa fa-2 fa-bars"></span></a>
			<ul th:replace="~{menu :: menu}"></ul>
		</nav>
	</header>
	<div class="container" th:switch="${mode}">
		<div class="main" th:case="'index'">
			<th:block th:each="article : ${site.lastArticles}">
				<article th:replace="~{article :: articleshort (${article})}"></article>
			</th:block>
		</div>
		<div class="main" th:case="'draft'">
			<ul>
				<li th:each="article : ${site.drafts}">
					<a th:text="${article.title}" th:href="${article.url}"></a>
				</li>
			</ul>
		</div>
		<div class="main" th:case="'group'">
			<th:block th:each="article : ${group.articles}">
				<article th:replace="~{article :: articleshort (${article})}"></article>
			</th:block>
		</div>
		<div class="main" th:case="'article'">
			<article th:replace="~{article :: articlefull (${article})}"></article>
		</div>
		<div class="main" th:case="'404'">
			<article th:replace="~{article :: 404}"></article>
		</div>

		<div class="side">
			<div class="tagclood">
				<h1><span class="fa fa-flag"></span> Tags</h1>
				<a th:each="tag:${site.tags}" th:href="${tag.url}">
					<th:block th:text="${tag.name}"/> (<th:block th:text="${tag.size}"/>)
				</a>
			</div>
			<div class="tagclood">
				<h1><span class="fa fa-flag"></span> Catégories</h1>
				<a th:each="cat:${site.categories}" th:href="${cat.url}">
					<th:block th:text="${cat.name}"/> (<th:block th:text="${cat.size}"/>)
				</a>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<span>Blog propulsé par un moteur maison en java.</span>
			<span>
				<a href="mailto:shionn@gmail.com" title="Contact"><i class="fa fa-envelope" aria-hidden="true"></i></a> |
				<a href="https://github.com/shionn" target="_blank" title="Github"><i class="fa fa-github"></i></a> |
				<a href="https://www.thymeleaf.org/" target="_blank" title="Thymeleaf"><i class="fa fa-leaf"></i></a> |
				<a href="https://fontawesome.com/v4/icons/" target="_blank" title="FontAwesome"><i class="fa fa-font-awesome"></i></a> |
				<a href="http://commonmark.org/" target="_blank" title="CommonMark">M<i class="fa fa-long-arrow-down"></i></a> |
				<a href="https://highlightjs.org/download" target="_blanck" title="highlightjs"><i class="fa fa-header"></i>js</a>
			</span>
		</div>
	</footer>
	<div class="gallery-view" tabindex="-1" role="dialog">
		<img class="content">
	</div>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/gallery.js"></script>
	<th:block th:each="script : ${scripts}">
		<script type="text/javascript" th:src="${script}"></script>
	</th:block>
	<script type="text/javascript" src="js/table.js"></script>
	<script type="text/javascript">if(hljs) {hljs.initHighlightingOnLoad();}</script>
</body>
</html>